/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* General page styles
-------------------------------------------------- */

body {
  background-color: #404460;
}

.page-title {
  margin-top: 35px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a, a:active {
  -webkit-tap-highlight-color: transparent;
}

.nav-item, .nav-item:active {
  -webkit-tap-highlight-color: transparent;
}

/* Navbar styles
-------------------------------------------------- */

.navbar-divider {
  margin: auto;
  height: 1px;
  width: calc(100% - 160px);
  background-color: #ffffff;
}

.navbar-wrapper {
  width: calc(100% - 160px);
  font-size: 18px;
}

@media (max-width: 768px) {
  .navbar-divider {
    width: calc(100% - 120px);
  }

  .navbar-wrapper {
    width: calc(100% - 120px);
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .navbar-divider {
    width: calc(100% - 60px);
  }

  .navbar-wrapper {
    width: calc(100% - 60px);
  }
}

@media (max-width: 450px) {
  #app-name {
    display: none;
  }
}

.navbar-nav .nav-item a.nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Quicksand', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-nav .nav-item a.nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

#app-name {
  text-transform: lowercase;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin-left: 5px;
}

/* Form styles
-------------------------------------------------- */

.form-card {
  background-color: #ffffff;
  border-radius: 15px;
  margin: 25px auto;
  padding: 35px;
  -webkit-box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.5);}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-card-login {
  width: 350px;
  height: 390px;
}

.form-card-signup {
  width: 600px;
  height: 385px;
}

.form-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-column {
  display: flex;
  flex-direction: column;
  flex: 0.45;
  justify-content: flex-start;
  height: 255px;
}

.form-column-login {
  flex: 1;
}

div.form-group {
  margin-bottom: 0;
}

.dropdown .btn {
  background-color: #ffffff !important;
  border: 1px solid #ced4da;
  color: #495057;
}

.dropdown-menu .dropdown-item {
  color: #495057;
}

.dropdown-menu .dropdown-item.active {
  background-color: #eeeeee;
}

.dropdown-menu .dropdown-item:active {
  background-color: #eeeeee;
}

.form-bottom-section {
  display: flex;
  flex-direction: column;
}

form .btn[type="submit"] {
  width: 75px;
  height: 35px;
  border: none;
  background-color: #f85c6a;
  align-self: flex-end;
  margin-bottom: 5px;
}

form .btn[type="submit"]:hover, form .btn[type="submit"]:active {
  background-color: #f85c6aee !important;
}

.redirect-link {
  color: #008196;
  text-decoration: underline;
}

.redirect-link:hover {
  color: #005e6e;
}

.field-validation-error {
  min-height: 22px;
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
}

div.form-errors ul {
  list-style-type: none;
  padding: 0;
}

/* Responsive form */

@media (max-width: 768px) {
  .form-card-signup {
    height: 640px;
    width: 400px;
  }
  
  .form-fields {
    flex-direction: column;
  }
  
  .form-column {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .form-card-signup {
    height: 670px;
    width: 300px;
  }
  
  .redirect-link-signup {
    display: block;
  }
  
  .field-validation-error {
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  .form-card-signup {
    width: 250px;
  }

  .form-card-login {
    width: 250px;
  }
}

/* Profile styles
-------------------------------------------------- */

#profile-image {
  width: 200px;
}