@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container profile-content">
    <h1 id="simple-page-title">@ViewData["Title"]</h1>
    <h4 id="simple-page-subtitle">Please check your email to reset your password.</h4>
</div>

