@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container">
    <h1 id="simple-page-title">@ViewData["Title"]</h1>
    <h4 id="simple-page-subtitle">Enter your email.</h4>
    <div class="row profile-content">
        <div class="form-card profile-form">
            <form method="post">
                <div class="form-group mb-4">
                    <label asp-for="Input.Email" class="card-form-label"></label>
                    <input asp-for="Input.Email" class="form-control"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
