@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container">
    <h1 id="simple-page-title" class="mt-5 mb-5">
        @ViewData["Title"]
    </h1>
    <h4 id="simple-page-subtitle">
        Your password has been reset. Please <a id="confirm-link" asp-page="./Login">click here to log in</a>.
    </h4>
</div>