@page
@using BucksCalendar.Models
@model BucksCalendar.Pages.Calendar.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="page-content">
    <h4 class="page-title">Edit event</h4>
    <div class="calendar-card edit-card">
        <form class="calendar-card-form" method="post">
            <div class="card-body-form">
                <input type="hidden" asp-for="Event.EventID"/>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label asp-for="Input.Title" class="col-form-label card-form-label"></label>
                        <span class="asterisk"> *</span>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="Input.Title" class="form-control"/>
                        <span asp-validation-for="Input.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Input.AllDayEvent" class="col-sm-4 col-form-label card-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="Input.AllDayEvent" class="form-control" id="all-day-event-tickbox"/>
                        <span asp-validation-for="Input.AllDayEvent" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-8">
                        <label asp-for="Input.StartDate" class="card-form-label"></label>
                        <span class="asterisk"> *</span>
                        <input asp-for="Input.StartDate" class="form-control" id="start-date" placeholder="01/01/2020" />
                        <span asp-validation-for="Input.StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Input.StartTime" class="card-form-label"></label>
                        <span class="asterisk"> *</span>
                        <input asp-for="Input.StartTime" class="form-control" id="start-time" placeholder="10:00" />
                        <span asp-validation-for="Input.StartTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-8">
                        <label asp-for="Input.EndDate" class="end-date card-form-label"></label>
                        <span class="asterisk"> *</span>
                        <input asp-for="Input.EndDate" class="end-date form-control" id="end-date" placeholder="01/01/2020" />
                        <span asp-validation-for="Input.EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Input.EndTime" class="card-form-label"></label>
                        <span class="asterisk"> *</span>
                        <input asp-for="Input.EndTime" class="form-control" id="end-time" placeholder="17:00" />
                        <span asp-validation-for="Input.EndTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Input.Location" class="col-sm-4 col-form-label card-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="Input.Location" class="form-control"/>
                        <span asp-validation-for="Input.Location" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label asp-for="Input.CategoryID" class="col-form-label card-form-label"></label>
                        <span class="asterisk"> *</span>
                    </div>
                    <div class="col-sm-8">
                        <select asp-for="Input.CategoryID" class="selectpicker form-control">
                            <option value="1">@Categories.Lecture</option>
                            <option value="2">@Categories.Deadline</option>
                            <option value="3">@Categories.WFH</option>
                            <option value="4">Annual Leave</option>
                            <option value="5">Bank Holiday</option>
                        </select>
                        <span asp-validation-for="Input.CategoryID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 card-form-label">Notify by</label>
                    <div class="col-sm-8">
                        <div class="form-check form-check-inline">
                            <input asp-for="Input.NotifyBySMS" class="form-check-input notify-tickbox" id="notify-checkbox-sms"/>
                            <label class="form-check-label" for="notify-checkbox-sms">SMS</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input asp-for="Input.NotifyByEmail" class="form-check-input notify-tickbox" id="notify-checkbox-email"/>
                            <label class="form-check-label" for="notify-checkbox-email">Email</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row" id="scheduled-for-field">
                    <div class="col-sm-4">
                        <label asp-for="Input.ScheduledFor" class="col-form-label card-form-label"></label>
                        <span class="asterisk"> *</span>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="Input.ScheduledFor" class="form-control" id="scheduled-for"/>
                        <span asp-validation-for="Input.ScheduledFor" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label asp-for="Input.Description" class="col-sm-4 col-form-label card-form-label"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="Input.Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Input.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-bottom-links">
                <a asp-page="./Index">Back to calendar</a>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" id="submit-btn"/>
                </div>
            </div>
        </form>
    </div>
</div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
